<div class="container">
  <h1>Quote</h1>
  <div class="note row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="container-fluid" *ngFor='let quote of quotes;let i = index'>
    <p appHighlight *ngIf="getHighest()===quote.upvote && quote.upvote>0">{{quote.quoteDisplay}}</p>
    <p *ngIf="getHighest()!==quote.upvote || quote.upvote===0">{{quote.quoteDisplay}}</p>

    <app-quote-info [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-info>

    <div class="row">
      <div (click)="upV(i)" class="col-md-6">
        Upvote : {{quote.upvote}}
      </div>
      <div (click)="downV(i)" class="col-md-6">
        Downvote : {{quote.downvote}}
      </div>
    </div>
  </div>

</div>
