<h1>Quote</h1>
<div class="container">
  <div class="row">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</div>

  <div *ngFor='let quote of quotes;let i = index'>
    <li>{{quote.quoteDisplay}}</li>
    <app-quote-info [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-info>

    <div class="row">
      <div (click)="upV(i)" class="col-md-6">
        Upvote : {{quote.upvote}}
      </div>
      <div (click)="downV(i)" class="col-md-6">
        Downvote : {{quote.downvote}}
      </div>
    </div>
  </div>
